.header {
  min-height: 300px;
  background: url("../img/header1-background.png") 0 0/contain no-repeat;
}

.header .header__container {
  max-width: 1400px;
  margin: 0 auto;
}

.header__content {
  background: rgba(41, 41, 41, 0.8);
  max-width: 1490px;
  margin: 223px auto 0;
}
