.form-router {
	display: flex;
	max-width: 1490px;	
	padding: 39px 45px;
	.select-grup {
		display: flex;
		justify-content: space-between;
	}
	label {
		display: block;
		color: #FFF;
		font-size: 30px;
		padding: 0px 0 15px 6px;
	}
	.select-router {
		width: 325px;
		height: 60px;
		border-radius: 3px;				
	}	
}

.form-data__container {
	margin: 0 0 0 35px;
}
.select-input1 {
	margin: 0 35px 0 0;
}

.cashed {
	align-self: center;
	margin: 0 5px;
}
.button {
	padding: 6px 42px 57px 0;
}
.button-router {
	display: block;
	position: relative;
	margin-left: auto;
	text-transform: uppercase;
	font-size: 24px;
	padding: 17px 68px;
	background-color: #FFA800;
	color: #292929;
	font-weight: 700;
	border-radius: 5px;
}