.form-router {
	background: rgba(41, 41, 41, 0.8);
	padding: 22px;
	width: 729px;
	.select-grup {
		display: flex;
		justify-content: space-between;
	}
	label {
		display: block;
		color: #FFF;
		font-size: 30px;
		padding: 60px 0 15px 6px;
	}
	.select-router {
		width: 325px;
		height: 60px;
		border-radius: 3px;				
	}	
}

.cashed {
	align-self: center;
	margin: 0 5px;
}
.button {
	padding: 101px 0 30px;
}
.button-router {
	display: block;
	position: relative;
	margin-left: auto;
	text-transform: uppercase;
	font-size: 24px;
	padding: 17px 68px;
	background-color: #FFA800;
	color: #292929;
	font-weight: 700;
	border-radius: 5px;
}

.header-line {
	height: 8px;
	background-color: #FFA800;;
}